html {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
body {
	margin: 20px 0 0;
	min-width: 1040px;
}
.table{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	background-color: darkgreen;
	width: 1000px;
	height: 525px;
	border-radius: 265px;
	box-shadow: inset 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
}
.cardPlayer{
	width: 75px;
	height: 125px;
	border: 2px solid black;
	font-size: 33px;
	padding: 10px;
	background-color: white;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	z-index: 2px;
}
.cardBot{
	width: 75px;
	height: 125px;
	border: 2px solid black;
	font-size: 35px;
	padding: 10px;
	background-color: grey;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	z-index: 1px;
}
.disabled{
	opacity: 0,5;
}
.tableBorder{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 1025px;
	height: 550px;
	background-color: rgb(184, 88, 00);
	border-radius: 275px;
	box-shadow: inset 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}
.fieldPlayer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}
.cardsPlayer{
	height: 295px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.fieldBot{
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.cardsBot{
	height: 295px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.buttonsField {
	display: flex;
	align-items: center;
	justify-content: center;
}
.buttonsField button{
	margin: 10px;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 16px;
	border: 0px;
	background-color: #15499F;
	color: white;
}
.buttonsField button:hover{
	background-color: #2B74B9;
	transition: 0.2s;
}