html, body{
	height: 100%;
	margin: 0;
}
.fieldButtons{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
button{
	width: 425px;
	height: 150px;
	font-size: 24px;
	border: 0px;
	background-color: #15499F;
	box-shadow: 0px 4px 30px rgba(21, 73, 159, 0.3);
	color: #FFFFFF;
}
.firstButton{
	border-radius: 25px 25px 0px 0px;
}
.secondButton{
	border-radius: 0px 0px 25px 25px;
}
button:hover{
	background-color: #2B74B9;
	transition: 0.2s;
}
hr{
	width: 425px;
	height: 4px;
	border: 0px;
	background-color: #2B74B9;
	margin: 0;
}